<!DOCTYPE html>
<html>
  <head>
    <title>InAFlash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://kit.fontawesome.com/357a429341.js" Crossorigin="anonymous"></script>

  <meta name="description" content="Fullstack Project" />
  <meta name="title" property="og:title" content="InAFlash" />
  <meta property="og:type" content="a 500px website clone" />
  <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51596540983_49f68d16dd_k.jpg" />
  <meta name="description" property="og:description" content="InAFlash, a 500px clone, is a photo-sharing website where users can create an account, upload photos, share them and group them into galleries. I used Ruby on Rails for my backend, React, Redux and Javascript for my frontend, and Sass and CSS to style the project." />
  <meta name="author" content="Veronika Pilipenko" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand:wght@300&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="https://cdn5.digitalphotopro.com/2020/02/canon-90d-2-1024.jpg"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
