<!DOCTYPE html>
<html>
  <head>
    <title>InAFlash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" href="https://cdn5.digitalphotopro.com/2020/02/canon-90d-2-1024.jpg"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
