<!DOCTYPE html>
<html>
  <head>
    <title>InAFlash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" href="https://cdn5.digitalphotopro.com/2020/02/canon-90d-2-1024.jpg"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
